<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25596024554-8votmhjs2gf5rph7ri1su7jbo7t6qsbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25596024554-8votmhjs2gf5rph7ri1su7jbo7t6qsbv</string>
	<key>API_KEY</key>
	<string>AIzaSyDXqVbpP7rDDcc050INwl_U6dq1D4_v_Uk</string>
	<key>GCM_SENDER_ID</key>
	<string>25596024554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.articulate</string>
	<key>PROJECT_ID</key>
	<string>articulate-aac-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>articulate-aac-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25596024554:ios:523cce812181ac3f432993</string>
</dict>
</plist>